[user]
	name = John Dengis
	email = john@deng.is
	signingkey = B73CA3291071C67F
[core]
	editor = nvim
[merge]
  conflictstyle = diff3
  tool = nvimdiff3
[commit]
	gpgsign = true
	verbose = true
[tag]
	gpgsign = true
